<!DOCTYPE html>
<html>
<head>
  <script src="angular.js"></script>
  <script>

    var gameApp = angular.module("gameApp", []);

    var games = [
      { name: "Quake", rating: 5 },
      { name: "Bioshock", rating: 3 },
      { name: "Basement Crawl", rating: 1 }]

    gameApp.controller("GameListController", function ($scope) {
      $scope.games = games;
    });

  </script>
</head>

<body ng-app="gameApp">
  <ul ng-controller="GameListController">
    <li ng-repeat="item in games">
      {{ item.name }}: {{ item.rating }} stars
      <input type="text" ng-model="item.name">
    </li>
  </li>
</body>

</html>
